/* Ajustes para FAQ */
.faq-container {
    max-width: 600px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: auto; /* Centraliza a faq-container */
    margin: 15px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,1);
}

.heading {
    color: hsl(292, 42%, 14%);
    font-weight: 900;
    font-size: 40px;
    margin-left: 5px;
    background-color: rgba(255,255,255,1);
}

.header-container img {
    width: 30px;
    margin-right: 10px;
    background-color: rgba(255,255,255,1);
}

.faq-item {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.faq-item:last-child {
    border-bottom: none;
}

h2.question {
    font-size: 18px;
    color: hsl(292, 42%, 14%);
    cursor: pointer;
    margin: 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,1);
    font-weight: 600;
}

h2.question:hover {
    color: rgba(169,39,228,1);
}

h2.question .icon {
    font-size: 18px;
    cursor: pointer;
    background-color: rgba(255,255,255,1);
}

.faq-item p {
    font-size: 16px;
    color: hsl(292, 16%, 49%);
    margin: 0;
    padding: 10px;
    display: none;
    word-spacing: 1px;
    line-height: 1.5;
    background-color: rgba(255,255,255,1);
    border-radius: 8px;
}

hr {
    border: none;
    border-top: 0.2px solid #f2f1f1;
    margin: 20px 0;
    padding: 0;
    width: 100%;
}

.icon-plus,
.icon-minus {
    cursor: pointer;
}

.attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    color: #999999;
    font-size: 14px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #ddd;
}

.attribution a {
    color: #3b5998;
    text-decoration: none;
    font-weight: bold;
}

.attribution a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 767px) {
    #desktopBG {
        display: none;
    }

    #mobileBG {
        display: block;
    }

    .faq-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .heading {
        font-size: 20px;
    }

    .header-container img {
        width: 20px;
    }

    h2.question {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }

    .faq-item {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    h2.question {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
