

 {% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <h2>EQUIPAMENTOS</h2>
            <a href="/equipamento/11/" target=_blank>  <p>EXTRATORA</p></a>
            <a href="/equipamento/13/" target=_blank>  <p>PROJETOR</p></a>
            <a href="/equipamento/19/" target=_blank>  <p>GERADOR</p></a>
            <a href="/equipamento/15/" target=_blank>  <p>GOPRO</p></a>
        </div>
        <div class="box">
            <h2>Sobre Nós</h2>
            <p>Nosso serviço de locação de extratoras é projetado para atender tanto a clientes residenciais quanto comerciais, temos o equipamento ideal para cada necessidade.</p>
        </div>
        <div class="box">
            <h2>Siga-nos</h2>
            <div class="red-social">
                
                <a href="https://www.instagram.com/compartilextratoras" target=_blank class="fab fa-instagram"></a>
                
                <a href="https://wa.me/5581989686491" target=_blank class="fab fa-whatsapp"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2018 <b>COMPARTIL</b> - Todos os direitos Reservados.</small>
        <br>
        Desenvolvido por <a href="https://www.motadeveloper.com" target="_blank"><strong>MOTA</strong></a>
    </div>
</footer>
